.fitmentContainer {
    color: white;
}

.bannerText {
    font-family: poppinsRegular;
    font-size: 14px;
}

.mentorshipCard {
    padding-top: 28px;
    font-family: poppinsSemiBoldItalic;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
}



.statsBox {
    background: black;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color: white;
}

.brand-advertisement-container {
    box-shadow: 0px 12px 92px 0px rgba(0, 0, 0, 0.21);
    margin-top: 84px;
    background-color: #ffffff;
}

.programCard {
    border-radius: 16px;
}

.programHeading {
    font-family: poppinsBold;
    font-size: 22px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.data-weeks-value-box {
    height: 61px;
    width: 61px;
    border: 2px solid;
    border-image-source: linear-gradient(152.19deg, #ffffff 0%, #45320a 100%);
    box-shadow: 0px 0px 51px 6px rgba(24, 57, 87, 0.37);

    background: #ffffff;
    border-radius: 12px;
    font-family: poppinsSemiBold;
    font-size: 20px;
}

.data-value-label {
    font-family: poppinsMedium;
    font-size: 12px;
    margin-top: 5px;
}

.apply-now-button {
    border: 2px solid;
    border-image-source: linear-gradient(152.19deg, #ffffff 0%, #45320a 100%);
    height: 53px;
    background: #000000;
    box-shadow: 0px 0px 228px 6px rgba(255, 168, 0, 0.43);
    border-radius: 12px;
    padding: 12px;
}

.apply-now-text {
    font-family: poppinsMedium;
    font-size: 14px;
    color: white;
}

.perks-box {
    width: 157.02px;
    height: 57.73px;
    border-radius: 16px;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
}

.testimonial-learn-card {
    height: 160px;
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
    padding: 20px;
}
.mentor-card {
    height: 420px;
    width: 283px;
    background: #ffffff;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
}

.circular-image {
    position: relative;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    right: -54px;
    top: -88px;
}

.mentorDescription {
    margin-bottom: 16px;
}

.scholars-from-card {
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.14);
    background-color: white;
    width: 361px;
    height: 474px;
    margin-top: 177px;
    background: #ffffff;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.14);
}

.queryBox {
    width: 1005;
    height: 52px;
    background: #e9e9e9;
    margin-top: 69px;
}
