.headerContainer {
    background-color: white;
    height: 72px;
}

.headerIcon {
    height: 31px;
    width: 31px;
    margin-right: 12px;
}

.brandName {
    color: white;
    font-family: poppinsMedium;
}

.brandContainer {
    margin-left: 33px;
    margin-top: 13px;
    cursor: pointer;
    color: black;

    width: 120px;
    height: 45px;

    background: #ffffff;
    box-shadow: 0px 8px 41px -8px rgba(0, 0, 0, 0.12);
    border-radius: 11px;



    font-family: 'poppinsSemiBold';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;

}

.menuItemsText {
    font-family: poppinsRegular;
    font-size: 14;
    margin-bottom: 32px;
    cursor: pointer;
}

.menuItemsCoursesDesktop {
    font-family: poppinsRegular;
    font-size: 14;
    margin-bottom: 32px;
    cursor: pointer;
}

.accordionItem {
    font-family: poppinsMedium;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 15px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid black;
    border-bottom: 4px solid transparent;
    margin-left: 11px;
}

.cursorPointer {
    cursor: pointer;
}