.mobileIcon{
    height: 626px;
    width: 342px;
}

.text{
    font-family:poppinsSemiBold;
    font-size: 36px;
    color: white;
}

.card{
    height: 318px;
    width: 221px;
    margin-right: 50px;
    background: rgba(145, 202, 186, 0.54);
    box-shadow: 0px 21px 51px 12px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(14px);
    border-radius: 18px;
}

.storeIcons{
    margin-right: 10px;
}