.headerContainer {
    background-color: black;
    height: 60px;
    height: 59px;
    background: #1f1f1f;
    backdrop-filter: blur(100px);
}

.headerIcon {
    height: 31px;
    width: 31px;
    margin-right: 12px;
}

.brandName {
    color: white;
    font-family: poppinsMedium;
}

.brandContainer {
    margin-left: 33px;
}

.menuItemsText {
    font-family: poppinsRegular;
    font-size: 14;
    margin-bottom: 32px;
    cursor: pointer;
}

.accordionItem {
    font-family: poppinsMedium;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 15px;
}
