html,
body {
  padding-top: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "poppinsMedium";
  src: url("../public/fonts/Poppins-Medium.ttf");
} 


@font-face {
  font-family: "poppinsBlack";
  src: url("../public/fonts/Poppins-Black.ttf");
} 

@font-face {
  font-family: "poppinsExtraBold";
  src: url("../public/fonts/Poppins-ExtraBold.ttf");
} 

@font-face {
  font-family: "poppinsRegular";
  src: url("../public/fonts/Poppins-Regular.ttf");
} 

@font-face {
  font-family: "poppinsSemiBold";
  src: url("../public/fonts/Poppins-SemiBold.ttf");
} 

@font-face {
  font-family: "poppinsBold";
  src: url("../public/fonts/Poppins-Bold.ttf");
} 

@font-face {
  font-family: "poppinsLight";
  src: url("../public/fonts/Poppins-Light.ttf");
} 

@font-face {
  font-family: "poppinsItalic";
  src: url("../public/fonts/Poppins-Italic.ttf");
} 



