.submitButton {
    background: linear-gradient(106.23deg, #9874FF 13.14%, #070058 105.98%);
    box-shadow: 0px 17px 117px rgba(0, 0, 0, 0.05);
    border-radius: 26px;
    color: white;
    border: none;
    outline: none;
    padding: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150.5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    height: 60px;
}